body {
    background: url(./images/christin-hume-08tX2fsuSLg-unsplash.jpg) center fixed; 
    
}
#header {
    margin-bottom: 10rem;
}
h1, h3 {
     color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    border-radius: 0.5rem;
}
#user-city {
    color: peru;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn {
    background-color: peru;
    border: 1px black;
    
}
.btn:hover {
    background-color: white;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

  
  .modal-content {

    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  
  #modal-text {

    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }

  
  #modal-close {

    background-color: peru;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

#modal-close:hover {
    background-color: #3e8e41; 
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    color: peru;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    max-width: 3 rem;
     margin-top: 8rem;
    border: 2px solid peru;
    padding: 10px;
    border-radius: 50px;
}

p {
  margin-top: 0;
  margin-bottom: 0.2rem;
}


    border-radius: 40px;
   }
.brewcards {
    background-color: whitesmoke;
    opacity: 1;
   margin-right: 23px;
   height: 40vh;


}
.img-top {
    width: 100%;
    height: 25vh;

}

.img-top {
    width: 100%;
    height: 25vh;
}
  
  #modal-close:hover {
    background-color: #3e8e41;
  }
